
@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
    --retro-navy: #0e0f25;
    --retro-pink: #ff5edb;
    --retro-blue: #00d7f8;

    --neon-text-color: #ff5edb;
    --neon-border-color:#00d7f8;

    --black-mute: rgba(0, 0, 0, 0.6);
    --retro-navy-mute: rgba(14, 15, 37, 0.8);

}

#test-section { height: 500px; margin-top: 150px; background-color: var(--retro-navy); }

body {
    background-image: url('../assets/retrowave-devices.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* About Section */
/* #about-section { background-color: var(--black-mute); } */
.profile-pic {
    height: auto;
    width: 30%;
    margin-top: 15px;
}

.info-col { text-align: center; color: white; }

.biography-col { padding: 70px 0; padding-right: 20px; padding-left: 20px; text-align: center;}

.biography-p {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.social-icon {
    font-size: 25px;
    color: var(--retro-pink);
    text-align: center;
    text-decoration: none;
}
.social-icon:hover  { color: var(--retro-blue); }

/* Neon Sign */
.neon-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 2rem 2rem 2rem;
    border: 0.4rem solid #fff;
    border-radius: 1rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;     
}

.neon-sign::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.neon-sign::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.neon-sign:focus {
    outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}