
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Open+Sans&display=swap');

:root {
    --github-grey: #333;
}

/* Global Styles */
html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.center-vert { 
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.header-font { font-family: 'Amatic SC', cursive !important; }

/* Parallax Backgrounds */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-one {
    background-image: url(../img/nubelson-fernandes--Xqckh_XVU4-unsplash.jpg);
    min-height: 100%;
}
.parallax-one h1 {  
    font-size: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* About */
.about {
    /* min-height: 100%; */
    background-color: var(--github-grey);
}
.about h1 { font-family: 'Annie Use Your Telescope', cursive; }
.about h2 { 
    font-size: 4rem; 
}
.about img {
    height: auto;
    width: 11rem;
}
.about h3 { 
    font-family: 'Annie Use Your Telescope', cursive; 
    font-size: 1.5rem; 
}
.about h4 { 
    font-family: 'Annie Use Your Telescope', cursive; 
    font-size: 1rem; 
    opacity: 75%;
}
.about quote { font-size: 0.25rem; }
.about p {
    font-family: 'Annie Use Your Telescope', cursive; 
    font-size: 1.5rem; 
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}
/* Experience */
.parallax-two {
    background-image: url(../img/altumcode-dC6Pb2JdAqs-unsplash.jpg);
    min-height: 37.5%;
}
.experience {
    min-height: 100%;
    background-color: var(--github-grey);
}
.experience h2 { font-size: 4rem; }
.experience-card {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
}
.experience-card h5 {
    font-size: 2rem;
}
.experience-card p {
    color: white;
    font-family: 'Annie Use Your Telescope', cursive; 
    font-size: 1.25rem;
}
.experience-card .card-sub {
    opacity: 62.5%;
}
/* Projects */
.parallax-three {
    background-image: url(../img/emile-perron-xrVDYZRGdw4-unsplash.jpg);
    min-height: 37.5%;
}
.projects {
    /* min-height: 100%; */
    background-color: var(--github-grey);
}
.projects h2 { font-size: 4rem; }
.projects .card {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
}
.projects .card img { border-radius: 10px;}
.projects .card h5 {
    font-size: 2rem;
}
.projects .card p {
    color: white;
    font-family: 'Annie Use Your Telescope', cursive; 
    font-size: 1.25rem;
}
.clickable-project-card {
    color: white;
    text-decoration: none;
}
.clickable-project-card:hover {
    color: white;
}
/* Posts */
.parallax-four {
    background-image: url(../img/mohammad-rahmani-8OnkIkFBBtM-unsplash.jpg);
    min-height: 37.5%;
}
.posts {
    /* min-height: 100%; */
    background-color: var(--github-grey);
}
.posts h2 { font-size: 4rem; }
.posts .card {
    background: none;
    border: 2px solid white;
    border-radius: 10px;
}
.posts .card img { border-radius: 10px;}
.posts .card h5 {
    font-size: 2rem;
}
.posts .card p {
    color: white;
    font-family: 'Annie Use Your Telescope', cursive; 
    font-size: 1.25rem;
}

/* Css Changes for Bigger Screens */
@media only screen and (min-width: 600px) {
    .parallax-one h1 {  
        font-size: 10rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .projects .card {
        height: auto;
        width: 37.5%;
    }
    .posts .card {
        height: auto;
        width: 37.5%;
    }
}